@model WebCI.Models.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      Web CI home: Foo: @Model.Foo Bar: @Model.Bar
</div>
</body>
</html>